td {
	text-align: center;
}
table {
	margin: auto;
	width: 800px;
	height: 800px;
	border: 1px solid;
}
div {
	width: 32px;
	height: 32px;
}
body {
	text-align: center;
	background-color: black;
}
#moves {
	color: white;
}
